body {
    margin: 0 0;
    font-family: 'KoPubDotumMedium';
}
#container1 {
    width: 100vw;
    height: 38vh;
    margin-bottom: 85vh;
}
#container1 #header_img {
    width: 100%;
    position: absolute;
    top: 0;
}
#header_text {
    padding-top: 160px;
    padding-left: 30px;
    color: white;
    font-weight: lighter;
    position: relative;
    z-index: 5;
}
#header_text span {
    background-image: linear-gradient(315deg, #138a53, #155898);
    padding: 4px 4px;
    font-size: 24px;
}
#footer {
    width: 100%;
}
br {
    line-height: 200%;
}

#contents1 {
    color: rgba(83, 83, 83, 0.7);
    margin-top: 60px;
    font-size: 12px;
}
#contents1 p {
    margin-left: -40px;
}
#contents1 p span {
    font-size: 8px;
}
input[type="text"] {
    border: none;
    background-color: #eeeeee;
    border-radius: 25px;
    
    padding-left: 30px;

    height: 40px;
    width: 60vw;
}
#submit {
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #159759;
    display: block;
    height: 35px;
    padding: 1px;
    position: relative;
    width: 120px;
    border: none;
    z-index: 7;

    margin-top: 10px;
    margin-left: 130px;
}
#submit button {
    align-items: center;
    background: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #157f71;
    border: none;

    padding: 0 0;
    margin: 0 0;
}

#basil_content {
    display: none;
}
#basil_content img {
    width: 60vw;
    margin-top: 15px;
}
#nickname {
    display: none;
}

.flexible {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}