body {
  margin: 0 0;
  font-family: 'KoPubDotumMedium';
  width: 100vw;
}
#container1 {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  background-color: white;
}
#header {
  height: 50vh;
  width: 100vw;
  background-image: url('../assets/back_img.png');
  background-size: 100% 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
}
#header img {
  width: 60vw;
}
#nick {
  background-image: linear-gradient(315deg, #138a53, #155898);
  padding: 4px 4px;
}
#header p {
  margin: 0;
  color: white;
}
#content {
  margin-top: 20px;
}
.wrapper {
  margin: 10px;
}
.content-title {
  font-size: 20px;
  letter-spacing: 2.6px;
  color: #535353;
  font-weight: 300;
  margin-bottom: 20px;
}
.content-title span {
  font-weight: bold;
}
.status-list {
  display: flex;
  flex-flow: row wrap;
  width: calc(86vw + 1px);
}
.status .status-header::before {
  content: ' ';
  display: inline-block;
  background-size: cover;
  height: 13px;
  width: 10px;
  margin-right: 5px;
}
.status-stat {
  text-align: center;
}
.status .status-value::after {
  font-size: 30px;
  letter-spacing: -5px;
  color: #535353;
}
.status-temperature .status-header::before {
  background-image: url('../assets/ic_temperature.png');
}
.status-humidity .status-header::before {
  background-image: url('../assets/ic_humidity.png');
}
.status-illumination .status-header::before {
  background-image: url('../assets/ic_illumination.png');
}
.status-temperature .status-value::after {
  content: '˚C';
}
.status-humidity .status-value::after, .status-illumination .status-value::after {
  content: '%';
}
.status-temperature .status-value {
  color: #a53838;
}
.status-humidity .status-value {
  color: #3e77af;
}
.status-illumination .status-value {
  color: #e76d13;
}
.status-temperature .status-stat {
  background-color: #a53838;
}
.status-humidity .status-stat {
  background-color: #3e77af;
}
.status-illumination .status-stat {
  background-color: #e76d13;
}
.status-temperature {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.status-humidity {
  border-bottom: 1px solid #ccc;
}
.status-illumination {
  border-right: 1px solid #ccc;
}
.status {
  width: 43vw;
  height: 80px;
}
.status-header {
  font-size: 12px;
  color: rgba(83, 83, 83, 0.7);
  display: flex;
}
.status-value {
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 5px;
}
.status-stat {
  width: 12vw;
  color: #fff;
  display: inline-block;
  font-size: 10px;
}
.status-header div {
  flex: 1;
  display: inline-block;
}

/* add */
.wrapper button {
  background-color: green;
  border: none;
  border-radius: 100px;
  width: 30vw;
  height: 50px;
  color: white;
  transition: background-color 0.1s ease-in-out;
}
#btn {
  margin: 15px 0px 15px 7vw;
  font-family: 'KoPubDotumMedium';
}
.wrapper button:active {
  background-color: #a53838;
  color: #155898
}
#watering {
  margin: 40px 0px;
  margin-top: -14vh;
  width: 100vw;
  text-align: center;
  color: black;
  font-size: 28px;
}
#watering span {
  color: rgb(96, 96, 216);
  font-size: 40px;
}